body {
    font-family: 'Inter', sans-serif;
    background-color: #F8FAFC;
    color: #1A202C;
    transition: background-color 0.3s, color 0.3s;
}

.dark {
    background-color: #1A202C;
    color: #E2E8F0;
}

.header {
    background-color: #2563EB;
    transition: background-color 0.3s;
}

.dark .header {
    background-color: #2D3748;
}

.feature-card {
    background-color: #2563EB;
    color: #E2E8F0;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feature-card:hover {
    transform: scale(1.05);
}

.sidebar {
    width: 250px;
    background-color: #2563EB;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    transition: left 0.3s ease-in-out;
    z-index: 10;
}

.sidebar.active {
    left: 0;
}

.menu-link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.menu-link:hover {
    background-color: #3b82f6;
}

.modal {
    position: absolute;
    top: 60px;
    right: 16px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dark .modal {
    background-color: #2D3748;
    color: #E2E8F0;
}

.menu-toggle .fa-bars {
    display: block;
}

.menu-toggle .fa-times {
    display: none;
}

.menu-toggle.active .fa-bars {
    display: none;
}

.menu-toggle.active .fa-times {
    display: block;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }
}

.timer-active {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}