body {
    font-family: 'Inter', sans-serif;
    background-color: #F8FAFC;
    color: #1A202C;
    transition: background-color 0.3s, color 0.3s;
}

.dark {
    background-color: #1A202C;
    color: #E2E8F0;
}

.header {
    background-color: #2563EB;
    transition: background-color 0.3s;
}

.dark .header {
    background-color: #2D3748;
}

.feature-card {
    background-color: #2563EB;
    color: #E2E8F0;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feature-card:hover {
    transform: scale(1.05);
}

.sidebar {
    width: 250px;
    background: linear-gradient(180deg, #2563EB 0%, #1D4ED8 100%);
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    transition: left 0.3s ease-in-out;
    z-index: 40;
    box-shadow: 5px 0px 15px rgba(0,0,0,0.2);
}

.sidebar.active {
    left: 0;
}

.dark .sidebar {
    background: linear-gradient(180deg, #2D3748 0%, #1A202C 100%);
}

#sidebar-overlay.active {
    display: block;
    backdrop-filter: blur(2px);
}

.menu-link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    text-align: left;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.menu-link:hover {
    background-color: #3b82f6;
}

.modal {
    position: absolute;
    top: 60px;
    right: 16px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dark .modal {
    background-color: #2D3748;
    color: #E2E8F0;
}

.menu-toggle .fa-bars {
    display: block;
}

.menu-toggle .fa-times {
    display: none;
}

.menu-toggle.active .fa-bars {
    display: none;
}

.menu-toggle.active .fa-times {
    display: block;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }
}

.timer-active {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.button-spinner {
    display: none;
}

.token-copied-glow {
    box-shadow: 0 0 10px 3px rgba(59, 130, 246, 0.6); /* Brilho azul */
    transition: box-shadow 0.2s ease-in-out;
}